@charset "UTF-8";
/*
falta agregar apartir de aqui
@include respond-between("phone-large","tablet-small") {

}
*/
.container__menu {
  width: 1728px;
  height: 120px;
  display: flex;
  background: linear-gradient(0deg, color(display-p3 0 0.1686 0.0353) 0%, color(display-p3 0 0.4118 0) 96%, color(display-p3 0 0.4275 0) 100%);
  position: fixed;
  height: 119px;
  padding: 0px 40px;
  justify-content: flex-end;
  align-items: center;
  gap: 920px;
  flex-shrink: 0;
  width: 100%;
}

.container__menu--items {
  padding-left: 40px !important;
  padding-right: 40px !important;
  gap: 40px;
}

.container__menu--item {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  color: #fff !important;
}

.container__menu--btn {
  margin-right: 40px;
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid #FFF;
  border: 1px solid color(display-p3 1 1 1);
  background: linear-gradient(119deg, color(display-p3 0.7176 0.5216 0.302) 9.8%, color(display-p3 0.9569 0.8471 0.5569) 56.7%, color(display-p3 0.7176 0.5216 0.302) 100%);
  text-decoration: none;
  color: #000 !important;
}

.container__menu--bar {
  justify-content: space-between;
  z-index: 1;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.container_logo {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  text-align: center;
  margin: 2%;
}
.container_logo a {
  width: 16%;
}

.imgMenu {
  width: 100%;
  position: relative;
  bottom: -65px;
}

.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.video-background video {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* 100% del ancho de la ventana */
  height: 100vh; /* 100% de la altura de la ventana */
  object-fit: fill;
  zoom: 0%;
}

.container__home {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  color: #fff;
  gap: 40px;
  text-align: center;
  padding-left: 90px !important;
  padding-bottom: 10%;
}

.title--h1 {
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
  color: #fff !important;
}

.title--Principal {
  font-family: Rufina;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  color: #fff !important;
}

.title--h3 {
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
  color: #fff !important;
}

.title--h4 {
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
  color: #fff !important;
}

.title--OurMision {
  font-family: Rufina;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  color: #fff !important;
}

.btn--Home {
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid #FFF;
  border: 1px solid color(display-p3 1 1 1);
  background: linear-gradient(119deg, color(display-p3 0.7176 0.5216 0.302) 9.8%, color(display-p3 0.9569 0.8471 0.5569) 56.7%, color(display-p3 0.7176 0.5216 0.302) 100%);
  text-decoration: none;
  color: #000 !important;
}

.opacidad--home {
  position: absolute;
  width: 100%; /* 100% del ancho de la ventana */
  height: 100vh; /* 100% de la altura de la ventana */
  object-fit: cover; /* Ajusta el SVG para cubrir todo el espacio sin deformarse */
  object-position: center; /* Centra el SVG dentro de la ventana */
  z-index: -1;
}

.opacidad--ourMision {
  position: absolute;
  width: 100%; /* 100% del ancho de la ventana */
  height: 100vh; /* 100% de la altura de la ventana */
  object-fit: cover; /* Ajusta el SVG para cubrir todo el espacio sin deformarse */
  object-position: center; /* Centra el SVG dentro de la ventana */
  z-index: 0;
}

.opacidad--experience {
  position: absolute;
  width: 100%; /* 100% del ancho de la ventana */
  height: 100vh; /* 100% de la altura de la ventana */
  object-fit: cover; /* Ajusta el SVG para cubrir todo el espacio sin deformarse */
  object-position: center; /* Centra el SVG dentro de la ventana */
  z-index: 0;
}

.container__ourMision {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: #fff;
  padding-left: 90px !important;
  padding-right: 30px !important;
}

.container__ourMision--Text {
  position: absolute;
  z-index: 1;
}

.container__MainServices {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0px 90px !important;
  background: linear-gradient(180deg, #000 0%, #003202 55%, #fafffc 45%);
}

.container__MainServices--Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.title--mainServices {
  font-family: Rufina;
  font-size: 76px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  color: #fff !important;
}

.card--services {
  margin: 30px;
  display: flex;
  width: 280px;
  height: 396px;
  padding-bottom: 22px;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  flex-shrink: 0;
  border-radius: 22px;
  background: #fff;
  box-shadow: 0px 4.45px 15px 0px color(display-p3 0.0947 0.3972 0.0947 / 0.3);
  box-sizing: border-box;
  filter: grayscale(100%);
  transition: filter 0.2s ease;
}
.card--services:hover {
  filter: grayscale(0%);
}

.splide__slide--clone {
  flex-shrink: 0; /* Evita que los clones se reduzcan */
}

.card--services--img {
  height: 200px; /* Ajusta la altura de la imagen para evitar distorsión */
  align-self: stretch;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover; /* Asegura que la imagen no se distorsione */
}

.card--services--container {
  display: flex;
  padding: 0px 22.249px;
  flex-direction: column;
  align-items: flex-start;
  gap: 11.125px;
  align-self: stretch;
}

.card--services--title {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
  color: #000 !important;
}

.card--services--text {
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  color: #000 !important;
}

.splide {
  width: 100%; /* Hace que el carrusel no sobrepase el ancho del contenedor */
  margin: 0 auto; /* Centra el carrusel dentro del contenedor */
  overflow: hidden; /* Previene el desbordamiento del carrusel */
}

.splide__list {
  display: flex; /* Asegura que las tarjetas estén en fila */
}

.splide__slide {
  display: flex;
  justify-content: center;
  flex-shrink: 0; /* Evita que las tarjetas se reduzcan al tamaño de la pantalla */
}

/* Carrusel */
.carousel-container {
  position: relative;
  width: 75%; /* Contenedor del carrusel (ajustado a tu necesidad) */
  overflow: hidden;
  margin: auto; /* Centrar el carrusel horizontalmente */
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

/* .splide__arrows {
  position: absolute;
  top: 50%;
  width: 74%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 10;
} */
.container__MainService--splide {
  display: flex;
  justify-content: center;
}

.contenedor__splide {
  width: 80%;
  display: flex;
  align-items: center;
}

.splide__arrow {
  background: none !important;
  padding: 10px;
  border: none !important;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  top: 40% !important;
  opacity: 100 !important;
}
.splide__arrow svg {
  fill: none !important;
}
.splide__arrow .splide__arrow--next {
  right: 0em !important;
}
.splide__arrow .splide__arrow--prev {
  left: 0em !important;
}

.container__testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  gap: 40px;
  background: linear-gradient(180deg, #fafffc 0%, #e2ffeb 100%);
}

.container__testimonials--Title {
  font-size: 71.341px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container__testimonials--carousel {
  /*  width: 90%;
   margin: 50px; */
  display: flex;
  flex-direction: column;
  padding: 0px 100px 0px 100px;
  text-align: center;
}

.carousel {
  width: 95%;
}

.container__testimonials--carousel--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.carousel--text {
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.carousel--author {
  font-size: 25px;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
}

.basicCleaning--svg {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.container__basicCleaning {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  align-content: flex-end;
  flex-wrap: wrap;
  padding-top: 80px;
}

.container__basicCleaning--text {
  display: flex;
  flex-direction: column;
  width: 35%;
  align-self: baseline;
}

.title--basicCleaning {
  font-family: Rufina;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  color: #000 !important;
}

.title--basicCleaning--h3 {
  font-family: Montserrat;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  color: #000 !important;
}

.title--whyChooseUs {
  font-family: Rufina;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  color: #000 !important;
}

.title--whyChooseUs--h3 {
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  color: #000 !important;
}

.basicCleaning--img {
  width: 52%;
  flex-shrink: 0;
}

.container__whyChooseUs {
  height: 100vh;
  padding: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.container__whyChooseUs--texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container__cards {
  display: flex;
  align-items: center;
  gap: 40px;
  text-align: center;
  align-content: center;
}

.container__cards--card {
  display: flex;
  width: 360px;
  height: 292px;
  padding-bottom: 22.249px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22.249px;
  border-radius: 22.249px;
  border: 2px solid #fff;
  border: 2px solid color(display-p3 1 1 1);
  background: rgba(255, 255, 255, 0.1);
  background: color(display-p3 1 1 1 / 0.1);
  box-shadow: 0px 4.45px 33.374px 0px rgba(0, 103, 0, 0.1);
  box-shadow: 0px 4.45px 33.374px 0px color(display-p3 0.0947 0.3972 0.0947 / 0.1);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
}
.container__cards--card h4 {
  font-family: Rufina;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  color: #000 !important;
}
.container__cards--card p {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: lighter;
  margin: 0px;
  color: #000 !important;
}

.container__experience {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.container__experience--texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.text--experience {
  font-family: Montserrat;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  color: #fff !important;
}

.container__contacUs {
  padding: 70px 0px 0px 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: 100vh;
  background: linear-gradient(180deg, #000 0%, #003202 100%);
  background: linear-gradient(180deg, color(display-p3 0 0 0) 0%, color(display-p3 0.0039 0.1922 0.0353) 100%);
}

.container__contacUs--elements {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  width: 30%;
  gap: 100px;
}

.container__contacUs--img {
  width: 74%;
}

.container__contacUs--text {
  font-family: Rufina;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  color: #fff !important;
  text-align: center;
}

.contactUs__form {
  width: 50%;
  margin: 40px;
  padding: 20px;
}

.form-container {
  padding: 20px 20px 40px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 50px 50px 0px 0px;
  border: 1px solid #fff;
  border: 1px solid color(display-p3 1 1 1);
  background: rgba(255, 255, 255, 0.1);
  background: color(display-p3 1 1 1 / 0.1);
}

.form-label {
  color: #ddd;
}

.form-control, .form-select {
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.form-control::placeholder {
  color: #aaa;
}

.btn-submit {
  display: flex;
  padding: 10px 90px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid #FFF;
  border: 1px solid color(display-p3 1 1 1);
  background: #E2FFEC;
  text-decoration: none;
  color: #000 !important;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  color: #000 !important;
}

.form-footer {
  display: flex;
  padding: 10px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
  border-radius: 0px 0px 50px 50px;
  border: 1px solid #fff;
  border: 1px solid color(display-p3 1 1 1);
  background: rgba(255, 255, 255, 0.5);
  background: color(display-p3 1 1 1 / 0.5);
}

.footer-text {
  color: #aaa;
  text-align: center;
  margin-top: 10px;
}

.container__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #003202 5.27%, #004C00 50.74%, #006B00 96.21%, #006F00 100%);
  background: linear-gradient(180deg, color(display-p3 0.0039 0.1922 0.0353) 5.27%, color(display-p3 0 0.2902 0.0176) 50.74%, color(display-p3 0 0.4118 0) 96.21%, color(display-p3 0 0.4275 0) 100%);
  padding: 10px;
  text-align: center;
  gap: 30px;
  padding-top: 30px;
}

.container__footer--img {
  width: 240.602px;
}

.container__footer--p {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  color: #fff !important;
}
.container__footer--p p {
  margin: 0px;
}

.container__footer--socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 21px;
}

.socialMedia {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  color: #fff !important;
  text-align: center;
  display: flex;
  gap: 15px;
  align-items: center;
  text-decoration: none;
}
.socialMedia h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin: 0px;
}
.socialMedia div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.socialMedia:hover {
  color: #000;
  text-decoration: none;
}
.socialMedia:hover svg {
  fill: #000;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#ourMision {
  background-image: url("../img/our_mission.jpg");
  background-size: cover;
  background-position: center;
}

#basicCleaning {
  position: relative;
  overflow: hidden;
  background-image: url("../img/basic_cleaning.jpg");
  background-size: cover;
  background-position: center;
}

#whyChooseUscontactUs {
  background-image: url("../img/Bullet_points.jpg");
  background-size: cover;
  background-position: center;
}

#experience {
  background-image: url("../img/Experience_the_joy.jpg");
  background-size: cover;
  background-position: center;
}

@media (min-width: 600px) and (max-width: 1440px) {
  .card--services {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (min-width: 320px) and (max-width: 414px) {
  .card--services {
    width: 224px;
  }
}

@media (min-width: 320px) and (max-width: 414px) {
  .card--services--title {
    font-size: 18px;
  }
}

@media (min-width: 320px) and (max-width: 414px) {
  .card--services--text {
    font-size: 13px;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .carousel-buttons {
    width: 100%;
  }
}

@media (min-width: 1366px) and (max-width: 1440px) {
  .carousel-container {
    width: 80%;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .carousel-container {
    width: 76%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-container {
    width: 93%;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .carousel-container {
    width: 85%;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .carousel-container {
    width: 95%;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .card--services {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container__home {
    padding-left: 50px !important;
  }
}
@media (min-width: 600px) and (max-width: 991px) {
  .container__home {
    padding-left: 20px !important;
    padding-bottom: 200px !important;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .container__home {
    padding-left: 10px !important;
    align-items: center !important;
    padding-bottom: 200px;
  }
  .container__home div {
    text-align: center;
    align-items: center !important;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .container__MainServices {
    padding: 0px 55px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container__MainServices {
    padding: 0px 25px !important;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .container__MainServices {
    padding: 0px 20px !important;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .container__MainServices {
    padding: 0px 30px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container__ourMision {
    padding-left: 50px !important;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .container__ourMision {
    padding-left: 20px !important;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .container__ourMision {
    padding: 10px !important;
    align-items: center;
  }
}

/* .opacidad--ourMision {
    @include respond-between("tablet-small","tablet-medium") {
        padding-left: 20px !important;
    }
} */
@media (min-width: 991px) and (max-width: 1200px) {
  .container__testimonials--Title {
    font-size: 60px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container__testimonials--Title {
    font-size: 50px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .container__testimonials--Title {
    font-size: 40px;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .container__testimonials--Title {
    font-size: 35px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .carousel--text {
    font-size: 45px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .carousel--text {
    font-size: 40px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .carousel--text {
    font-size: 35px;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .carousel--text {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container__whyChooseUs {
    gap: 50px;
  }
}
@media (min-width: 414px) and (max-width: 768px) {
  .container__whyChooseUs {
    gap: 40px;
  }
}
@media (min-width: 320px) and (max-width: 414px) {
  .container__whyChooseUs {
    gap: 25px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .container__cards {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
}
@media (min-width: 600px) and (max-width: 991px) {
  .container__cards {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .container__cards {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .container__cards--card {
    width: 280px;
    height: 220px;
  }
  .container__cards--card h4 {
    font-size: 25px;
  }
  .container__cards--card p {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container__cards--card {
    width: 260px;
    height: 200px;
  }
  .container__cards--card h4 {
    font-size: 20px;
  }
  .container__cards--card p {
    font-size: 15px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .container__cards--card {
    width: 240px;
    height: 180px;
  }
  .container__cards--card h4 {
    font-size: 20px;
  }
  .container__cards--card p {
    font-size: 15px;
  }
}
@media (min-width: 414px) and (max-width: 600px) {
  .container__cards--card {
    width: 220px;
    height: 160px;
    gap: 10px;
  }
  .container__cards--card h4 {
    font-size: 20px;
  }
  .container__cards--card p {
    font-size: 15px;
  }
}
@media (min-width: 375px) and (max-width: 414px) {
  .container__cards--card {
    width: 200px;
    height: 140px;
    gap: 10px;
  }
  .container__cards--card h4 {
    font-size: 18px;
  }
  .container__cards--card p {
    font-size: 12px;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .container__cards--card {
    width: 180px;
    height: 120px;
    gap: 10px;
  }
  .container__cards--card h4 {
    font-size: 15px;
  }
  .container__cards--card p {
    font-size: 10px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .container__experience--texts {
    gap: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container__contacUs {
    gap: 60px;
    padding-left: 50px !important;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .container__contacUs {
    gap: 40px;
    padding-left: 30px !important;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .container__contacUs {
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .container__contacUs--elements {
    width: 100%;
    align-content: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container__contacUs--img {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .container__contacUs--img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .container__contacUs--img {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  .container__contacUs--text {
    font-size: 60px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .container__contacUs--text {
    font-size: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container__contacUs--text {
    font-size: 50px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .container__contacUs--text {
    font-size: 45px;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .container__contacUs--text {
    font-size: 30px;
  }
}

@media (min-width: 600px) and (max-width: 991px) {
  .contactUs__form {
    width: 55%;
    padding: 0px;
    margin: 0px;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .contactUs__form {
    width: 90%;
    padding: 0px;
    margin: 0px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .form-container {
    padding-bottom: 0px;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .form-container .mb-3 {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 320px) and (max-width: 414px) {
  .form-footer {
    flex-direction: row;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .row_form {
    flex-direction: column;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .btn-submit {
    padding: 5px 65px;
    font-size: 15px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .container__footer--p {
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container__footer--p {
    font-size: 10px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .container__footer--p {
    font-size: 10px;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .container__footer--socialMedia {
    flex-direction: column;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .socialMedia {
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .socialMedia {
    font-size: 10px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .socialMedia {
    font-size: 10px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .socialMedia h4 {
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .socialMedia h4 {
    font-size: 10px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .socialMedia h4 {
    font-size: 10px;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  .title--OurMision {
    font-size: 60px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .title--OurMision {
    font-size: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .title--OurMision {
    font-size: 45px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .title--h1 {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .title--h1 {
    font-size: 26px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .title--h1 {
    font-size: 27px;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .title--h1 {
    font-size: 25px;
    text-align: center;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  .title--Principal {
    font-size: 60px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .title--Principal {
    font-size: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .title--Principal {
    font-size: 40px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .title--Principal {
    font-size: 37px;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .title--Principal {
    font-size: 35px;
    text-align: center;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .title--h3 {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .title--h3 {
    font-size: 26px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .title--h3 {
    font-size: 24px;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .title--h3 {
    font-size: 18px;
    text-align: center;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .title--h4 {
    font-size: 25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .title--h4 {
    font-size: 25px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .title--h4 {
    font-size: 22px;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .title--h4 {
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  .text--experience {
    font-size: 38px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .text--experience {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text--experience {
    font-size: 26px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .text--experience {
    font-size: 24px;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .text--experience {
    font-size: 20px;
    text-align: center;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  .title--basicCleaning {
    font-size: 60px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .title--basicCleaning {
    font-size: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .title--basicCleaning {
    font-size: 38px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .title--basicCleaning {
    font-size: 31px;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .title--basicCleaning {
    font-size: 45px;
    text-align: center;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  .title--basicCleaning--h3 {
    font-size: 30px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .title--basicCleaning--h3 {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .title--basicCleaning--h3 {
    font-size: 26px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .title--basicCleaning--h3 {
    font-size: 20px;
  }
}
@media (min-width: 414px) and (max-width: 600px) {
  .title--basicCleaning--h3 {
    font-size: 30px;
    text-align: center;
  }
}
@media (min-width: 375px) and (max-width: 414px) {
  .title--basicCleaning--h3 {
    font-size: 25px;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .title--basicCleaning--h3 {
    font-size: 25px;
    text-align: center;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  .title--whyChooseUs {
    font-size: 60px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .title--whyChooseUs {
    font-size: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .title--whyChooseUs {
    font-size: 40px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .title--whyChooseUs {
    font-size: 35px;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .title--whyChooseUs {
    font-size: 30px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .title--whyChooseUs--h3 {
    font-size: 22px;
  }
}
@media (min-width: 600px) and (max-width: 991px) {
  .title--whyChooseUs--h3 {
    font-size: 18px;
  }
}
@media (min-width: 414px) and (max-width: 600px) {
  .title--whyChooseUs--h3 {
    font-size: 15px;
  }
}
@media (min-width: 320px) and (max-width: 414px) {
  .title--whyChooseUs--h3 {
    font-size: 12px;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  .title--mainServices {
    font-size: 60px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .title--mainServices {
    font-size: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .title--mainServices {
    font-size: 48px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .title--mainServices {
    font-size: 45px;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .title--mainServices {
    font-size: 40px;
  }
}

.container__basicCleaning {
  /* @include respond-between("tablet-large", "laptop-small") {
     padding: 0px 10px !important;
  }
  @include respond-between("tablet-medium", "tablet-large") {
     padding: 0px 10px !important;
   } */
}
@media (min-width: 320px) and (max-width: 600px) {
  .container__basicCleaning {
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}

.container__basicCleaning--text {
  /*    @include respond-between("tablet-medium","tablet-large") {

         position: absolute;
         right: 0px;
         margin-top: 18%;
      }  */
}
@media (min-width: 600px) and (max-width: 768px) {
  .container__basicCleaning--text {
    position: absolute;
    right: 0px;
    margin-top: 15%;
    margin-right: 5%;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .container__basicCleaning--text {
    position: relative;
    width: 100%;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .basicCleaning--img {
    width: 60%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .basicCleaning--img {
    width: 65%;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .basicCleaning--img {
    width: 75%;
  }
}
@media (min-width: 414px) and (max-width: 600px) {
  .basicCleaning--img {
    width: 95%;
  }
}
@media (min-width: 320px) and (max-width: 414px) {
  .basicCleaning--img {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .container__menu--bar {
    background: linear-gradient(180deg, color(display-p3 0 0.1686 0.0353) 0%, color(display-p3 0 0.4118 0) 96%, color(display-p3 0 0.4275 0) 100%);
    padding: 10px;
    border-radius: 0px 0px 50px 50px;
    position: absolute;
    top: 119px;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .container__menu--btn {
    margin: 20px;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .container_logo {
    width: 570px;
    justify-content: flex-start;
  }
  .container_logo a {
    width: 20%;
  }
}

@media (min-width: 320px) and (max-width: 414px) {
  .container__footer--img {
    width: 181.602px;
    margin: 35px;
  }
}

@media (min-width: 320px) and (max-width: 414px) {
  .container__footer--p {
    font-size: 10px;
  }
}

@media (min-width: 320px) and (max-width: 414px) {
  .container__whyChooseUs--texts {
    font-size: 10px;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  #basicCleaning {
    background-image: url("../img/basic_cleaning_small.jpg");
    background-size: cover;
    background-position: center;
  }
}

/* .video-background {    
    video {
        @include respond-between("phone-small","phone-medium") {
            width: auto;
            height:auto;
            zoom: 32%;
        left: -181%;
        top: 17%;
        }
        @include respond-between("phone-medium","phone-large") {
            width: auto;
            height: auto;
        zoom: 25%;
        left: -120%;
        top: 18%;
        }
        @include respond-between("phone-large","tablet-small") {
            width: auto;
            height: auto;
            zoom: 25%;
            left: -60%;
            top: 18%;
        }
        @include respond-between("tablet-small","tablet-medium") {
            width: auto;
            height: auto;
            zoom: 25%;
            left: -14%;
            top: 18%;
        }
        @include respond-between("tablet-medium","tablet-large") {
            width: auto;
            height: auto;
            zoom: 27%;
            left: 0%;
            top: 18%;
        }

    }
  } */
@media (min-width: 320px) and (max-width: 991px) {
  .container__menu--icon {
    flex-direction: row-reverse !important;
    z-index: 1;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .imgMenu {
    bottom: 0px;
  }
}

@media (min-width: 0px) and (max-width: 320px) {
  main {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
