@use "_variables" as *;
@use "_mixing" as *;



.card--services {
    @include respond-between("tablet-small", "desktop-small") {
        margin-left: 30px;
        margin-right: 30px;
    }
    @include respond-between("phone-small", "phone-large") {
       width: 224px;
    }

}

.carousel-buttons {
    @include respond-between("phone-small", "tablet-large") {
        width: 100%;
    }

}

.carousel-container {

    @include respond-between("laptop-medium","desktop-small") {
        width: 80%;
    }
    @include respond-between("tablet-large", "laptop-small") {
        width: 76%;
    }
    @include respond-between("tablet-medium", "tablet-large") {
        width: 93%;
    }
    @include respond-between("tablet-small","tablet-medium") {
        width: 85%;
     }
     @include respond-between("phone-small","tablet-small") {
        width: 95%;
     }

}
.card--services {
    @include respond-between("tablet-small","tablet-medium") {
        margin-left: 20px;
        margin-right: 20px;
     }
}


.container__home {
    @include respond-between("tablet-medium", "tablet-large") {
        padding-left: 50px !important;
    }
    @include respond-between("tablet-small","tablet-medium") {
        padding-left: 20px !important;
    }
    @include respond-between("phone-small","tablet-small") {
        padding-left: 10px !important;
        align-items: center !important;
        div{
            text-align: center;
            align-items: center !important;
        }

    }
}

.container__MainServices {
    @include respond-between("tablet-large", "laptop-small") {
        padding: 0px 55px !important;
    }
    @include respond-between("tablet-medium", "tablet-large") {
        padding: 0px 25px !important;
    }
    @include respond-between("tablet-small","tablet-medium") {
        padding: 0px 20px !important;
    }

    @include respond-between("phone-small","tablet-small") {
        padding: 0px 30px !important
    }
}

.container__ourMision {
    @include respond-between("tablet-medium", "tablet-large") {
        padding-left: 50px !important;
    }
    @include respond-between("tablet-small","tablet-medium") {
        padding-left: 20px !important;
    }
    @include respond-between("phone-small","tablet-small") {
        padding: 10px !important;
        align-items: center;
    }
}
/* .opacidad--ourMision {
    @include respond-between("tablet-small","tablet-medium") {
        padding-left: 20px !important;
    }
} */
.container__testimonials--Title {
    @include respond-between("tablet-large", "laptop-small") {
       font-size: 60px;
    }
    @include respond-between("tablet-medium","tablet-large") {
        font-size: 50px;
     }
    @include respond-between("tablet-small","tablet-medium") {
       font-size: 40px;

    }
    @include respond-between("phone-small","tablet-small") {
        font-size: 35px;
     }
}
.carousel--text{
    @include respond-between("tablet-large", "laptop-small") {
        font-size: 45px;
    }
    @include respond-between("tablet-medium","tablet-large") {
        font-size: 40px;
     }
    @include respond-between("tablet-small","tablet-medium") {
       font-size: 35px;
    }
    @include respond-between("phone-small","tablet-small") {
       font-size: 30px;
     }
}
.container__whyChooseUs{
    @include respond-between("tablet-medium", "tablet-large") {
        gap: 50px;
    } 
    @include respond-between("phone-large","tablet-medium") {
        gap: 40px;
     } 
     @include respond-between("phone-small","phone-large") {
        gap: 25px;
     }    
}

.container__cards{

    @include respond-between("tablet-large", "laptop-small") {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center; 
        gap: 40px;
    }
    @include respond-between("tablet-small", "tablet-large") {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center; 
        gap: 35px;
    }

    @include respond-between( "phone-small","tablet-small") {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center; 
        gap: 30px;
    }


}
.container__cards--card{
    @include respond-between("tablet-large", "laptop-small") {
        width: 280px;
        height: 220px;
        h4{
            font-size: 25px;
        }
        p{
            font-size: 18px;
        }
    }
    @include respond-between("tablet-medium", "tablet-large") {
        width: 260px;
        height: 200px;
        h4{
            font-size: 20px;
        }
        p{
            font-size: 15px;
        }
    }
    @include respond-between("tablet-small","tablet-medium") {
        width: 240px;
        height: 180px;
        h4{
            font-size: 20px;
        }
        p{
            font-size: 15px;
        }
    }

    @include respond-between("phone-large","tablet-small") {
        width: 220px;
        height: 160px;
        gap: 10px;
        h4{
            font-size: 20px;
        }
        p{
            font-size: 15px;
        }
    }
    @include respond-between("phone-medium","phone-large") {
        width: 200px;
        height: 140px;
        gap: 10px;
        h4{
            font-size: 18px;
        }
        p{
            font-size: 12px;
        }
    }
    @include respond-between("phone-small","phone-medium") {
        width: 180px;
        height: 120px;
        gap: 10px;
        h4{
            font-size: 15px;
        }
        p{
            font-size: 10px;
        }
    }
}
  
.container__experience--texts {
    @include respond-between("tablet-small","tablet-medium") {
        gap: 10px;
    }
  
}
.container__contacUs{

    @include respond-between("tablet-medium", "tablet-large") {
        gap: 60px;
        padding-left: 50px !important;
    }
    @include respond-between("tablet-small","tablet-medium") {
        gap: 40px;
        padding-left: 30px !important;
    }
    @include respond-between("phone-small","tablet-small") {
        flex-direction: column;
        gap: 10px;
    }
}
.container__contacUs--elements{
    @include respond-between("phone-small","tablet-small") {
        width: 100%;
        align-content: center;
    } 
}
.container__contacUs--img{
    @include respond-between("tablet-medium", "tablet-large") {
        width: 100%;
    }
    @include respond-between("tablet-small","tablet-medium") {
        width: 100%;
    }
    @include respond-between("phone-small","tablet-small") {
        display: none;
    }
}
.container__contacUs--text{
    @include respond-between("laptop-small", "laptop-medium"){
        font-size: 60px
    }
    @include respond-between("tablet-large", "laptop-small") {
        font-size: 50px
    }
    @include respond-between("tablet-medium", "tablet-large") {
        font-size: 50px;
    }
    @include respond-between("tablet-small","tablet-medium") {
        font-size: 45px;
    }
    @include respond-between("phone-small","tablet-small") {
        font-size: 30px;
    }
}
.contactUs__form{
    @include respond-between("tablet-small", "tablet-large") {
        width: 55%;
        padding: 0px;
        margin: 0px;
    }
    // @include respond-between("tablet-small","tablet-medium") {
    //     width: 55%;
    //     padding: 0px;
    //     margin: 0px;
    // }
     @include respond-between("phone-small","tablet-small") {
        width: 90%;
        padding: 0px;
        margin: 0px;
    }
}
.form-container{
    @include respond-between("tablet-small","tablet-medium") {
        padding-bottom: 0px;
    }
    .mb-3{
        @include respond-between("phone-small","tablet-small") {
            margin-bottom: 0px !important;
        }
    }
}
.form-footer{
    @include respond-between("phone-small","phone-large") {
        flex-direction: row;
    }
}
.row_form{
    @include respond-between("phone-small","tablet-medium") {
        flex-direction: column;
    }

}
.btn-submit{
    @include respond-between("tablet-small","tablet-medium") {
        padding: 5px 65px;
        font-size: 15px;
    }
}

.container__footer--p{
    @include respond-between("tablet-large", "laptop-small") {
        font-size: 15px
    }
    @include respond-between("tablet-medium", "tablet-large") {
       font-size: 10px;
    }
    @include respond-between("tablet-small","tablet-medium") {
        font-size: 10px;
    }
}
.container__footer--socialMedia{
    @include respond-between("phone-small","tablet-small") {
        flex-direction: column;
    }
}
.socialMedia{
    @include respond-between("tablet-large", "laptop-small") {
        font-size: 15px
    }
    @include respond-between("tablet-medium", "tablet-large") {
        font-size: 10px;
     }
     @include respond-between("tablet-small","tablet-medium") {
        font-size: 10px;
    }
    h4{
        @include respond-between("tablet-large", "laptop-small") {
            font-size: 15px
        }
        @include respond-between("tablet-medium", "tablet-large") {
            font-size: 10px;
         }
         @include respond-between("tablet-small","tablet-medium") {
            font-size: 10px;
        }
    }
}

.title--OurMision {
    @include respond-between("laptop-small", "laptop-medium"){
        font-size: 60px
    }
    @include respond-between("tablet-large", "laptop-small") {
        font-size: 50px
    }
    @include respond-between("tablet-medium", "tablet-large") {
        font-size: 45px
    }
}

.title--h1 {
    @include respond-between("tablet-large", "laptop-small") {
        font-size: 30px
    }
    @include respond-between("tablet-medium", "tablet-large") {
        font-size: 26px
    }
    @include respond-between("tablet-small","tablet-medium") {
        font-size: 27px;
    }
    @include respond-between("phone-small","tablet-small") {
        font-size: 25px;
        text-align: center;
    }
}
.title--Principal {
    @include respond-between("laptop-small", "laptop-medium"){
        font-size: 60px
    }
    @include respond-between("tablet-large", "laptop-small") {
        font-size: 50px
    }
    @include respond-between("tablet-medium", "tablet-large") {
        font-size: 40px;
    }
    @include respond-between("tablet-small","tablet-medium") {
        font-size: 37px;
     }
     @include respond-between("phone-small","tablet-small") {
        font-size: 35px;
        text-align: center;
     }
}

.title--h3 {
    @include respond-between("tablet-large", "laptop-small") {
        font-size: 30px
    }
    @include respond-between("tablet-medium", "tablet-large") {
        font-size: 26px
    }
    @include respond-between("tablet-small","tablet-medium") {
        font-size: 24px;
    }
    @include respond-between("phone-small","tablet-small") {
        font-size: 18px;   
        text-align: center; 
    }
}

.title--h4 {
    @include respond-between("tablet-large", "laptop-small") {
        font-size: 25px
    }
    @include respond-between("tablet-medium", "tablet-large") {
        font-size: 25px
    }
    @include respond-between("tablet-small","tablet-medium") {
        font-size: 22px;
    }
    @include respond-between("phone-small","tablet-small") {
        font-size: 15px;
    }
}
.text--experience{
    @include respond-between("laptop-small", "laptop-medium"){
        font-size: 38px;
    }
    @include respond-between("tablet-large", "laptop-small") {
        font-size: 30px
    }
    @include respond-between("tablet-medium", "tablet-large") {
        font-size: 26px
    }
    @include respond-between("tablet-small","tablet-medium") {
        font-size: 24px;
    }
    @include respond-between("phone-small","tablet-small") {
        font-size: 20px;
        text-align: center;
    }
}
.title--basicCleaning{
    @include respond-between("laptop-small", "laptop-medium"){
        font-size: 60px
    }
    @include respond-between("tablet-large", "laptop-small") {
        font-size: 50px
    }
    @include respond-between("tablet-medium", "tablet-large") {
        font-size: 38px
    }
    @include respond-between("tablet-small","tablet-medium") {
        font-size: 31px;
    }
    @include respond-between("phone-small","tablet-small") {
        font-size: 45px;
        text-align: center;
     }
}
.title--basicCleaning--h3{
    @include respond-between("laptop-small", "laptop-medium"){
        font-size: 30px
    }
    @include respond-between("tablet-large", "laptop-small") {
        font-size: 30px
    }
    @include respond-between("tablet-medium", "tablet-large") {
        font-size: 26px
    }
    @include respond-between("tablet-small","tablet-medium") {
        font-size: 20px;
    }
    @include respond-between("phone-large","tablet-small") {
        font-size: 30px;
        text-align: center;
     }
     @include respond-between("phone-medium","phone-large") {
        font-size: 25px;
        text-align: center;
     }
     @include respond-between("phone-small","phone-medium") {
        font-size: 25px;
        text-align: center;
     }
    
}
.title--whyChooseUs{
    @include respond-between("laptop-small", "laptop-medium"){
        font-size: 60px
    }
    @include respond-between("tablet-large", "laptop-small") {
        font-size: 50px
    }
    @include respond-between("tablet-medium", "tablet-large") {
        font-size: 40px
    }
    @include respond-between("tablet-small","tablet-medium") {
        font-size: 35px;
    }
    @include respond-between("phone-small","tablet-small") {
        font-size: 30px;
    }
}
.title--whyChooseUs--h3{
    @include respond-between("tablet-large", "laptop-small") {
        font-size: 22px
    }
    @include respond-between("tablet-small", "tablet-large") {
        font-size: 18px;
        
    }
     @include respond-between("phone-large","tablet-small") {
        font-size: 15px;
    }
    @include respond-between("phone-small","phone-large") {
        font-size: 12px;
    }
}

.title--mainServices{
    @include respond-between("laptop-small", "laptop-medium"){
        font-size: 60px
    }
    @include respond-between("tablet-large", "laptop-small") {
        font-size: 50px
    }
    @include respond-between("tablet-medium", "tablet-large") {
        font-size: 48px
    }
    @include respond-between("tablet-small","tablet-medium") {
        font-size: 45px;
    }
    @include respond-between("phone-small","tablet-small") {
        font-size: 40px;
    }
}

.container__basicCleaning{
    /* @include respond-between("tablet-large", "laptop-small") {
       padding: 0px 10px !important;
    }
    @include respond-between("tablet-medium", "tablet-large") {
       padding: 0px 10px !important;
     } */

    @include respond-between("phone-small","tablet-small") {
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        justify-content: space-between;
     }
}
.container__basicCleaning--text{ 
 /*    @include respond-between("tablet-medium","tablet-large") {
    
        position: absolute;
        right: 0px;
        margin-top: 18%;
     }  */
    @include respond-between("tablet-small","tablet-medium") {
    
        position: absolute;
        right: 0px;
        margin-top: 15%;
        margin-right: 5%;
     }  
     @include respond-between("phone-small","tablet-small") {
        position: relative;
        width: 100%;
     }
}
.basicCleaning--img{
    @include respond-between("tablet-large", "laptop-small") {
        width: 60%;
    }
    @include respond-between("tablet-medium","tablet-large") {
        width: 65%;
    }
    @include respond-between("tablet-small","tablet-medium") {
       width: 75%;
    }
     @include respond-between("phone-large","tablet-small") {
        width: 95%;
      }
      @include respond-between("phone-small","phone-large") {
        width: 100%;
     }
}

.container__menu--bar{
    @include respond-between("phone-small","tablet-large") {
        background: $colorMenuInvertido;
        padding: 10px;
        border-radius: 0px 0px 50px 50px ;
        position: absolute;
        top: 119px;
     }
}

.container__menu--btn{
    @include respond-between("phone-small","tablet-large") {
        margin: 20px;
     } 
}
.container_logo{
    @include respond-between("phone-small","tablet-large") {
        //width: 50%;
        justify-content: flex-start;
        a{
            width: 20%;
        }
     }
}
.container__footer--img {
    @include respond-between("phone-small","phone-large") {
        width: 181.602px;
        margin: 35px;    
     }
}
.container__footer--p{
    @include respond-between("phone-small","phone-large") {
        font-size: 10px; 
     }
}
.container__whyChooseUs--texts{
    @include respond-between("phone-small","phone-large") {
        font-size: 10px; 
     }
}
#basicCleaning{
    @include respond-between("phone-small","phone-medium") {
        @include container_img('../img/basic_cleaning_small.jpg'); 
     }
}


/* .video-background {    
    video {
        @include respond-between("phone-small","phone-medium") {
            width: auto;
            height:auto;
            zoom: 32%;
        left: -181%;
        top: 17%;
        }
        @include respond-between("phone-medium","phone-large") {
            width: auto;
            height: auto;
        zoom: 25%;
        left: -120%;
        top: 18%;
        }
        @include respond-between("phone-large","tablet-small") {
            width: auto;
            height: auto;
            zoom: 25%;
            left: -60%;
            top: 18%;
        }
        @include respond-between("tablet-small","tablet-medium") {
            width: auto;
            height: auto;
            zoom: 25%;
            left: -14%;
            top: 18%;
        }
        @include respond-between("tablet-medium","tablet-large") {
            width: auto;
            height: auto;
            zoom: 27%;
            left: 0%;
            top: 18%;
        }

    }
  } */

.container__menu--icon{
    @include respond-between("phone-small","tablet-large") {
        flex-direction: row-reverse !important;
      }
}
.imgMenu{
    @include respond-between("phone-small","tablet-large") {
        bottom: 0px;
      }
}

main{
    @include respond-between("none","phone-small") {
       display: none;
     }
}

