@use 'sass:map';
@use "_variables" as *;
@mixin container_img($url) {
    background-image: url($url);
    background-size: cover;
    background-position: center;
}

@mixin button($colorBg,$colorTxt,$padding){
    display: flex;
    padding: $padding;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 1px solid #FFF;
    border: 1px solid color(display-p3 1 1 1);
    background:$colorBg;
    text-decoration: none;
    color: $colorTxt !important;
}

@mixin text($font,$size,$style,$weight,$heigth,$color){
    font-family: $font;
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $heigth;
    margin: 0px;
    color: $color !important;
}

@mixin opacidad($position,$index){
    position: absolute;
    width: 100vw;  /* 100% del ancho de la ventana */
    height: 100vh;  /* 100% de la altura de la ventana */
    object-fit: cover;  /* Ajusta el SVG para cubrir todo el espacio sin deformarse */
    object-position: center;  /* Centra el SVG dentro de la ventana */
    z-index: $index;
}

@mixin respond-to($breakpoint) {
  @media (max-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}
@mixin respond-between($min, $max) {
  $min-width: map.get($breakpoints, $min);
  $max-width: map.get($breakpoints, $max);
  
  @if $min-width and $max-width {
    @media (min-width: #{$min-width}) and (max-width: #{$max-width}) {
      @content;
    }
  } @else {
    @warn "Uno o ambos de los puntos de quiebre '#{$min}' o '#{$max}' no existen en el mapa.";
  }
}
