$colorMenu: linear-gradient(0deg, color(display-p3 0 0.1686 0.0353) 0%, color(display-p3 0 0.4118 0) 96%, color(display-p3 0 0.4275 0) 100%);
$colorBgClaro: #E5FFED;
$colorBgOscuto: color(display-p3 1 1 1 / 0.10);
$colorBgDegradeClaro: linear-gradient(177deg, color(display-p3 1 1 1) 30.6%, color(display-p3 0.9084 1 0.9276) 97.85%);
$colorBgDegradeOscuro: linear-gradient(180deg, color(display-p3 0 0 0) 0%, color(display-p3 0.0039 0.1922 0.0353) 100%);
$colorPrincipal: #324A0B;
$colorSegundario: #E2FFEC;
$colorButton: linear-gradient(119deg, color(display-p3 0.7176 0.5216 0.302) 9.8%, color(display-p3 0.9569 0.8471 0.5569) 56.7%, color(display-p3 0.7176 0.5216 0.302) 100%);
$colorTextB: #fff;
$colorTextN: #000;
$colorFooter: #162301E5;

$breakpoints: (
  "phone-small": 320px,       // iPhone SE, teléfonos más pequeños
  "phone-medium": 375px,      // iPhone X, teléfonos promedio
  "phone-large": 414px,       // iPhone 11 Pro Max, teléfonos grandes
  "tablet-small": 600px,      // tabletas pequeñas, dispositivos plegables
  "tablet-medium": 768px,     // iPad estándar, tabletas en modo vertical
  "tablet-large": 992px,      // iPad Pro, tabletas grandes en modo horizontal
  "laptop-small": 1200px,     // laptops pequeñas
  "laptop-medium": 1366px,    // resolución común de laptops
  "desktop-small": 1440px,    // monitores de escritorio pequeños
  "desktop-medium": 1600px,   // monitores de escritorio medianos
  "desktop-large": 1920px,    // resolución Full HD, monitores grandes
  "desktop-xl": 2560px,       // monitores 2K
  "desktop-xxl": 3840px       // monitores 4K


);


$fuentePrincipal:"Montserrat", sans-serif;

/*
falta agregar apartir de aqui
@include respond-between("phone-large","tablet-small") {

}
*/