$colorMenu: linear-gradient(0deg, color(display-p3 0 0.1686 0.0353) 0%, color(display-p3 0 0.4118 0) 96%, color(display-p3 0 0.4275 0) 100%);
$colorBgClaro: #E5FFED;
$colorBgOscuto: color(display-p3 1 1 1 / 0.10);
$colorBgDegradeClaro: linear-gradient(177deg, color(display-p3 1 1 1) 30.6%, color(display-p3 0.9084 1 0.9276) 97.85%);
$colorBgDegradeOscuro: linear-gradient(180deg, color(display-p3 0 0 0) 0%, color(display-p3 0.0039 0.1922 0.0353) 100%);
$colorPrincipal: #324A0B;
$colorSegundario: #E2FFEC;
$colorButton: linear-gradient(119deg, color(display-p3 0.7176 0.5216 0.302) 9.8%, color(display-p3 0.9569 0.8471 0.5569) 56.7%, color(display-p3 0.7176 0.5216 0.302) 100%);
$colorTextB: #fff;
$colorTextN: #000;
$colorFooter: #162301E5;


$fuentePrincipal:"Montserrat", sans-serif;

